body {
  /* background: linear-gradient(to right, #536976, #292e49); */
  background: linear-gradient(to right, #1b1c1d, #626264);
  color: wheat;
}

#head {
  width: 90vw;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}

.header {
  font-size: 2.5em;
}
