.thumbnail {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
  margin-left: 1em;
  word-break: normal;
  width: 25%;
  align-items: center;
}

.thumbnail:hover {
  background-color: rgba(10, 10, 10, 0.3);
  transition: 0.5s;
  cursor: pointer;
}

.thumbnail img {
  width: 12vw;
  height: 12vw;
}

.title {
  text-align: center;
  font-size: 1.2vw;
  font-style: italic;
}
