#search-container {
  width: 30vw;
  display: flex;
  margin-left: 5vw;
  flex-direction: column;
  font-size: 1.2em;
}
#search-bar {
  width: 66%;
  height: 1.5em;
  padding: 0.5em;
  border-radius: 25px;
}
#search-bar:focus {
  transition: width 0.5s ease-in-out;
  width: 100%;
}

#search-res {
  cursor: pointer;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  height: fit-content;
  width: inherit;
  top: 10vh;
  line-height: 2em;
  list-style: none;
  font-style: italic;
  z-index: 3;
}

a {
  color: inherit;
  text-decoration: inherit;
}

#search-res li:hover {
  background-color: rgba(250, 250, 250, 0.6);
}

.res-icon {
  margin-left: 0.5em;
}
.res-title {
  margin-left: 2em;
}
